DBMS/Tables/tbl.xsd

<?xml version = "1.0"?>
<xs:schema xmlns:xs = "http://www.w3.org/2001/XMLSchema">
<xs:element name = 'tbl'/>
<xs:complexType>
<xs:sequence>
<xs:element name = 'root'/>
<xs:complexType>
<xs:sequence>
<xs:element name="fName" type="xs:string" minOccurs="0" maxOccurs ="unbounded"/>
<xs:element name="age" type="xs:int" minOccurs="0" maxOccurs ="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:sequence>
</xs:complexType>
</xs:schema>