DBMS/Tables/zzz.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "zzz">
    <xs:complexType>
        <xs:sequence>
            <xs:element name = "root"  maxOccurs="unbounded" minOccurs="0">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="ID" type="xs:int" />
                    <xs:element name="Course" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    </xs:element>
</xs:schema>
